@import './header';
@import './game-field';
@import './game-info';
@import './card';
@import './modal';
@import '../variables';

body {
  background: $main-bg;
  font-family: 'Arial', sans-serif;
}

.app-wrapper {
  margin: 0;
  display: grid;
  grid-template-areas:
    "header"
    "sub-header"
    "main"
    "footer";
  grid-template-rows: 1fr 0.5fr 80vh 1fr;
  grid-gap: 5px;
  height: 100vh;
}

main {
  grid-area: main;
  overflow: scroll;
}

.game-info {
  grid-area: sub-header;
}

.error-description {
  color: indianred;
  font-size: 12px;
  font-weight: bold;
}