
.flip-container {
  perspective: 1000px;
}

.card {
  margin: 0 auto;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 170px;
  height: 170px;
  border: 2px solid #FEA832;

  &.is-flipped {
    transform: rotateY(180deg);
  }

  &.is-inactive {

    opacity: 0;
  }
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front:hover, .back:hover {
  cursor: pointer;
}

.front {
  z-index: 2;

  transform: rotateY(0deg);

  img {
    width: 100%;
  }
}

.back {
  transform: rotateY(180deg);

  img {
    width: 100%;
  }
}
